{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}
{% block body %}

    <section style="text-align: center">
        <h2>{{ groupe|first }}</h2>
        {% for g in groupe %}
            <div style="width: 19%; display: inline-block; text-align: center; border: 1px solid;margin-top: 2em;">
                <a href="{{ path("groupe",[g]) }}">

                    <p>Nombre de membres : {{ g.nombreMembre }}</p>
                    <p>Genre : {{ g.genre }}</p>
                    {% if g.cheminLogo is defined %}
                        <img src="images/groupe_logo/{{ g.cheminLogo }}"
                             style="height: 150px;width: 200px; margin: 0 auto 7px"></td>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </section>
{% endblock body %}