{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header class="section background-white">
        <div class="line text-center">
            <h1 class="alert">
                Buy-And-Listen</h1>
            <p class="margin-bottom-0 text-size-16 text-dark">Ce site est un projet pour ma fac. Il comprend une partie
                php avec le framework Symfony et une partie js avec Vue Js<br>
                Le thème choisi est l'achat de musique</p></div>
    </header>
    <section style="text-align: center;">
        {% for g in groupes %}
            <div style="width: 19%; display: inline-block; text-align: center; border: 1px solid;margin: 1em">
                <a href="{{ path('groupe', {'groupeId' :g.id}) }}">
                    <h2>{{ g.nom }}</h2>
                    <p>Nombre de membres : {{ g.nombreMembre }}</p>
                    <p>Genre : {{ g.genre }}</p>
                    {% if g.cheminLogo is defined %}
                        <img src="images/groupe_logo/{{ g.cheminLogo }}"
                             style="width: 80%;height: 150px; margin: auto; margin-bottom: 1em;">
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </section>

{% endblock %}
